/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/



.mainContainer {
    min-height: 1111px;
    width: 97%;
}

.mainCol {
    min-height: 505px;
}

.myNavbar {
    width:100%;
    overflow: hidden;
}

.fancyGrey {
    background-color: rgb(43, 43, 43);
}

.menuItem {
    color: white;
    width: 69%;
    overflow: hidden;
    user-select: none;
}

.menuItem:hover {
    color: white;
    cursor: pointer;
    background-color: black;
    overflow: hidden;
}

.menuItemHolder {
    color: white;
    width: 69%;
    overflow: hidden;
    user-select: none;
}

.menuItemHolder:hover {
    cursor: default;
}

.menuItemActive {
    cursor: default;
    color: rgb(0, 0, 0);
    font-weight: 500;
    width: 69%;
    background-image: linear-gradient(to right, #adb6c0 , #828A93);
    overflow: hidden;
    user-select: none;
}

.menuItemInactive {
    color: white;
    width: 69%;
    overflow: hidden;
}

.menuItemInactive:hover {
    color: white;
    cursor: default;
    background-color: black;
    overflow: hidden;
}

.menuItemSocials {
    color: white;
    width: 69%;
    overflow: hidden;
    user-select: none;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    margin-left: 30px;
}

.menuItemSocials:hover {
    color: white;
    cursor: pointer;
    background-color: black;
    overflow: hidden;
}

.navItem {
    color: rgb(219, 219, 219);
}

.navItem:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    transition-duration:5s;

}

.myButton {
    background-color: rgba(188, 22, 22, 0.251);
    color:black;
    padding: 7px 7px;
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.myButton:hover {
    cursor: pointer;
}

.bg1 {
    /* background-image: url("https://cdn.pixabay.com/photo/2023/08/21/12/54/night-8204368_1280.jpg") ; */
    background-image: linear-gradient(to right, #adb6c0 , #6D757D);
}

.inPlace {
    position: absolute;
    top: 27px;
    color: white;
    width: 227px;
    transform:rotateX('180')
}

.brainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    border: solid 1px white;
    border-bottom-left-radius: 69%;
  }


.mainBrain {
    max-height: 227px;
    max-width: 227px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 50%;
    top: 0px;
    position: absolute;
    left: 0px;
}

.arrowBox {
    max-height: 69px;
    max-width: 69px;
    border-radius: 50%;
    top: 27%;
    position: absolute;
    left: 17%;
}

.arrow {
    max-height: 69px;
    max-width: 69px;
}

.arrow:hover {
    cursor: pointer;
}

.testButton {
    height: 33px;
    width: 133px;
    position: absolute;
    top: 111px;
    left: 333px;
    background-color: rgba(132, 47, 132, 0.745);
    border-radius: 7px;
}

.testButton:hover {
    cursor: pointer;
}



.type1 {
    color: white;
    top: 11%;
    position: absolute;
    left: 43%;
}

.type2 {
    color: white;
    top: 21%;
    position: absolute;
    left: 43%;
}

.type3 {
    color: white;
    top: 33%;
    position: absolute;
    left: 43%;
}

.typedOut{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.5rem;
    width: 0;
    animation: typing 2s steps(41, end) forwards,
    blink 1.5s infinite;
  }

  @keyframes blink {
    from { border-color: transparent }
    50% {border-color: rgba(255, 166, 0, 0.89)}
    to { border-color: transparent }
  }

  @keyframes typing {
    from { width: 0 }
    to { width:29% }
  }



  .typePos1 {
    position: absolute;
    top: 11%;
    left: 21%;
  }

  .typePos2 {
    position: absolute;
    top: 21%;
    left: 21%;
  }

  .typePos3 {
    position: absolute;
    top: 33%;
    left: 21%;
  }



.container {
    display: inline-block;
  }

  

/* .light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    pointer-events: none;
    background: radial-gradient(circle at 50% 50%, transparent 10%, rgb(0,0,0,0.95) 20%);
} */


.testAnimation1 {
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    33% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    69% {
        font-size: 33%;
        margin: left 189%;
        width: 150%
    }

    89% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .finalBrain {
    width: 55%;
    margin-left: 45%;
  }

  .moveBrain1 {
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 20%;
    }
  
    /* 33% {
      font-size: 300%;
      margin-left: 11%;
      width: 30%;
    }

    69% {
        font-size: 33%;
        margin: left 25%;
        width: 41%
    } */

    
  
    to {
      margin-left: 45%;
      width: 55%;
    }
  }